<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/bootstrap/3.3.6/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />

    <script th:src="@{/js/jquery-2.2.2.min.js}"></script>

</head>
<body>
<p th:text="'Hello, ' + ${company} + '!'" />

<script type="text/javascript">
    $(function () {
        alert('Hello Thymeleaf!');
    });
</script>
</body>
</html>